.input-container-task {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 400px;
}

.input-label-task {
  font-weight: 600;
  color: #2B438D; 
  font-size: 18px;
}

.input-field-task {
  border: 1.5px solid #2B438D;
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: 17px;
  font-weight: 300;
  color: #2B438D;
  outline: none;
}

.input-field-task::placeholder {
  color: #5a6a8c;
  font-size: 17px;
  font-weight: 300;

}

.input-field-task:focus {
  border-color: #27408b;
  box-shadow: 0 0 3px rgba(39, 64, 139, 0.4);
}
