.custom-button {
  border: none;
  border-radius: 8px; 
  color: white;
  font-weight: bold;
  height: 45px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.custom-button:hover {
  filter: brightness(0.9);
}
