body {
  margin: 0;
}
.cgx-container {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
  width: 100%;
}

.cgx-img-box {
  position: relative;
  width: 38%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.cgx-back-btn {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background: #c8a6f5;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.cgx-back-btn:hover {
  background: #b892e9;
  transform: scale(1.1);
}

.cgx-img {
  width: 100%; 
  height: 100vh;
  object-fit: cover;
}

.cgx-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 62%;
  color: white;
  padding: 1.8rem;
  background: #c8a6f5; 
}

.cgx-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.cgx-subtitle {
  line-height: 1.5;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.cgx-fields {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.cgx-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cgx-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.cgx-label {
  font-weight: 600;
}

.cgx-input,
.cgx-textarea,
.cgx-select,
.cgx-textarea {
  padding: 0.75rem;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  width: 350px;
}

.cgx-input::placeholder,
.cgx-textarea::placeholder,
.cgx-select {
  color: white;
  font-family: 'Roboto', sans-serif;

}
.cgx-input:focus,
.cgx-textarea:focus,
.cgx-select:focus {
  outline: none;
  border-color: #ffffff;
}

.cgx-note {
  font-size: 17px;
  font-style: italic;
  margin-top: 3.8rem;
  font-weight: 600;
  padding: 0;
}

.cgx-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.cgx-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 350px;
  transition: background 0.3s;
  margin-right:1rem ;
}

.cgx-btn :hover {
  background-color: #eee;
}

.cgx-code-note {
  font-size: 0.85rem;
}

.cgx-select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FFFFFF' d='M7 10L0 0h14z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.65rem;
  padding-right: 2rem;
  width:374px;
}

.cgx-select option {
  background: #fff;
  color: #000;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
input[type="date"] {
  color: #fff;       
  font-family: 'Roboto', sans-serif;  
}

@media (max-width: 900px) {
  
}
