.create-group-form {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
  width: 100%;
  gap: 2rem;

}

.Group-image {
  max-width: 50%; 
  height: auto;
  object-fit: cover;
}


.form-grid {
  flex: 1;
  background: #c8a6f5; 
  display: flex;
  flex-direction: column;
  padding: 24rem;
  color: #fff;
  margin-top: -25rem;

}

.create-group-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.create-group-subtitle {
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.4;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  width: 100%;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input,
.form-select,
.form-textarea {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.budget-input-container {
  display: flex;
  align-items: center;
}

.currency-symbol {
  margin-right: 0.5rem;
}

.create-group-btn {
  background-color: #fff;
  color: #c8a6f5;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.create-group-btn:hover {
  background-color: #eee;
}

.budget-note,
.generate-code-note {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.flex-inputs {
  display: flex;
}