html, body {
  margin: 0;
  padding: 0;  
  font-family: 'Roboto', sans-serif;
}
.create-group-form {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
}

.Group-image {
 width: 100%;
 height: 100vh;
}
.taski-img {
  width: 50%; 
  height: auto;
  object-fit: cover;
}


.form-grid {
  flex: 1;
  background: #c8a6f5; 
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 50%;

}

.create-group-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.create-group-subtitle {
  font-size: 1rem;
  line-height: 1.4;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  width: 100%;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.form-input,
.form-select,
.form-textarea {
  padding: 0.75rem;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  background: transparent;
  color: #fff;
  width: 300px;
  font-size: 1rem;
  width: 100%;
}

.budget-input-container {
  display: flex;
  align-items: center;
  width: 5rem;

}

.currency-symbol {
  margin-right: 0.5rem;
}

.create-group-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  transition: background 0.3s;
  margin-right:1rem ;
}

.create-group-btn:hover {
  background-color: #eee;
}

.budget-note,
.generate-code-note {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.flex-inputs {
  display: flex;
  gap: 4rem;
  margin-left: 4rem;
}
.flex-1
{
  margin-top: 12rem;
  margin-left:10rem;
}
.flex-2
{
  margin-top: 12rem;
  margin-left:-25rem;
}