html, body {
  margin: 0;
  padding: 0;  
  font-family: 'Roboto', sans-serif;
}
.create-group-form {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
}

.Group-image {
 width: 100%;
 height: 100vh;
}
.taski-img {
  width: 50%; 
  height: auto;
  object-fit: cover;
}


.form-grid {
  flex: 1;
  background: #c8a6f5; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: 50%;
  padding: 5rem;

}

.create-group-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.create-group-subtitle {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
}
.form-input::placeholder,
.form-textarea::placeholder {
  color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invierte el color del icono (gris -> blanco) */
  cursor: pointer;
}

.form-group.full-width {
  width: 290px;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.form-input,
.form-select,
.form-textarea {
  padding: 0.75rem;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  width: 290px;
}

.budget-input-container {
  width:290px;

}

.currency-symbol {
  margin-right: 0.5rem;
}

.create-group-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  transition: background 0.3s;
  margin-right:1rem ;
}

.create-group-btn:hover {
  background-color: #eee;
}

.budget-note,
.generate-code-note {
  font-size: 0.9rem;
}
.budget-note {
  font-size:18px;
}

.flex-inputs {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 800px;
}
.flex-1
{
  width: 400px;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;  
}
.flex-2
{
 width: 400px;
 gap: 1.5rem;
  display: flex;
  flex-direction: column;  
}
.final-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.form-select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FFFFFF' d='M7 10L0 0h14z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.65rem;
  padding-right: 2rem;
  width:318px;
}

.form-select option {
  background: #fff;
  color: #000;
}