/* Contenedor principal */
.create-group-form {
  display: flex;
  flex-direction: row; /* imagen izquierda, formulario derecha */
  height: 100vh;
  width: 100%;
  background: #fdf9f7; /* color de fondo claro */
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Imagen de portada */
.Group-image {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.form-grid {
  flex: 1;
  background: #c8a6f5; /* morado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  margin-top: ;
  color: #fff;
}

.create-group-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.create-group-subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.4;
}

/* Campos del formulario */
.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  width: 100%;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input,
.form-select,
.form-textarea {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.budget-input-container {
  display: flex;
  align-items: center;
}

.currency-symbol {
  margin-right: 0.5rem;
}

/* Botón */
.create-group-btn {
  background-color: #fff;
  color: #c8a6f5;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.create-group-btn:hover {
  background-color: #eee;
}

.budget-note,
.generate-code-note {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
