body {
  margin: 0;
}
.cgx-container {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
  width: 100%;
}

.cgx-img-box {
  width: 38%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.cgx-img {
  width: 100%; 
  height: 100vh;
  object-fit: cover;
}

.cgx-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 62%;
  color: white;
  padding: 5rem;
  background: #c8a6f5; 
}

.cgx-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.cgx-subtitle {
  line-height: 1.5;
  font-size: 1rem;
}

.cgx-fields {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.cgx-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cgx-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.cgx-label {
  font-weight: 600;
}

.cgx-input,
.cgx-textarea,
.cgx-select {
  width: 290px;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.cgx-input:focus,
.cgx-textarea:focus,
.cgx-select:focus {
  outline: none;
  border-color: #6c63ff;
}

.cgx-note {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.cgx-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.cgx-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  transition: background 0.3s;
  margin-right:1rem ;
}

.cgx-btn :hover {
  background-color: #eee;
}

.cgx-code-note {
  font-size: 0.85rem;
  color: #777;
}
