.login-form {
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.form-group-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
}

.form-group-img img {
    width: 100%; 
    height: 100vh; 
    object-fit: cover;
}

.login-form .form-group {
  flex: 1;
  background: #c8a6f5; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  margin-bottom: 0;
  padding: 4rem;   /* reduce un poco el padding para que no se aplaste */
}

.login-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}

.login-subtitle {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: #fff;
}

.signup-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-form .form-label {
  text-align: left;
  width: 300px;
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: 500;
  display: block;
  margin-left: -2rem;
}

.login-form .form-input {
  padding: 0.8rem;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  background: transparent;
  color: #fff;
  width: 300px;
  margin-bottom: 1.5rem;
}

.login-form .form-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.forgot-password {
  text-align: left;
  width: 100%;
  margin-bottom: 1.5rem;
}

.forgot-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
 margin-left: 9.5rem;
}

.forgot-link:hover {
  text-decoration: underline;
}

.login-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 330px;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #eee;
}