.lfx-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: #c8a6f5;
  font-family: "Roboto", sans-serif;
}

.lfx-img-box {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lfx-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lfx-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #c8a6f5;
  color: #fff;
  padding: 4rem;
  gap: 2rem;
}

.lfx-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}

.lfx-subtitle {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
  cursor: pointer;
}

.lfx-link {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.lfx-link:hover {
  text-decoration: underline;
}

.lfx-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  max-width: 350px;
}

.lfx-label {
  font-weight: 600;
}

.lfx-input {
  padding: 0.8rem;
  border: 1px solid #fff;
  border-radius: 6px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.lfx-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.lfx-forgot {
  width: 100%;
  max-width: 350px;
}

.lfx-forgot-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.lfx-forgot-link:hover {
  text-decoration: underline;
}

.lfx-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  transition: background 0.3s ease;
}

.lfx-btn:hover {
  background: #eee;
}

@media (max-width: 900px) {
  .lfx-container {
    width: 100%;
    flex-direction: column;
    height: 100vh; /* Mantiene altura completa en pantallas pequeñas */
    background: #fff; 
  }

  .lfx-label {
    font-weight: 600;
    margin-right:66% ;
  }
  

  .lfx-img-box {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFAF0; 
  }
  .lfx-img {
    width: 90%;
    height: 90%;
    align-items: center;
    margin-left: 3rem;
  }
  .lfx-form {
    width: 87%;
    height: auto;
    background: #c8a6f5;
    padding: 5rem 1.5rem;
    align-items: center;
    text-align: center;

    /* Bordes redondeados superiores */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    /* Sombra ligera para separación visual */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }

  .lfx-title {
    font-size: 1.8rem;
  }

  .lfx-subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .lfx-input{
    width: 80%;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
  .lfx-btn {
    width: 88%;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  .lfx-forgot {
    text-align: center;
  }

  .lfx-forgot-link {
    display: inline-block;
  }
}
