.login-form {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}


.form-group-img {
  flex: 1;
    display: flex;
    justify-content: center;
    width: 55rem;
    height: 1rem;
    align-items: center;  
    margin-left:-50rem ;
    margin-top: 20rem;
}


.login-form .form-group {
  flex: 1;
  background: #c8a6f5; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: -45rem;
  padding:18rem;
  padding-top:35rem;
  margin-top:-25rem;
}

.login-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}

.login-subtitle {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: #fff;
}

.signup-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-form .form-label {
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: 500;
  display: block;
}

.login-form .form-input {
  padding: 0.8rem;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  background: transparent;
  color: #fff;
  width: 100%;
  margin-bottom: 1.5rem;
}

.login-form .form-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.forgot-password {
  text-align: left;
  width: 100%;
  margin-bottom: 1.5rem;
}

.forgot-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Botón */
.login-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #eee;
}
