html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fdf9f7;  
}

.login-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #333;
}

.login-subtitle {
  text-align: center;
  margin-bottom: 2rem;
  color: #666;
}

.signup-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}

.form-input {
  padding: 0.8rem;
    border: 1px solid #fff;   
    border-radius: 6px;
    font-size: 0.95rem;
    outline: none;
    background: transparent;  
    color: #fff; 
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
}

.forgot-password {
  text-align: right;
  margin-bottom: 2rem;
}

.forgot-link {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.login-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  transition: background 0.3s;
  margin-right:1rem ;
}

.login-btn:hover {
  background: #eee;}

