.square-points {
    width: 320px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 1rem;
    background-color: #82C2F6;
    font-size: 30px;
    
}
.subcontainer-profile {
    display: flex;
    gap: 100px;
}


.tasks-summary{
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
    color: #2B438D;
    font-weight:600;
    font-size: 18px;
}
.tasks p{
    margin: 5px;
}

.task-num{
    font-size: 28px;
    margin: none;
}



.square-points p{
    margin: 0px;
}
.header-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.user-profile{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: 45px;
}
.info-user-profile{
    display: flex;
    margin-right: 20px;
}


.info-profile{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #2B438D;
    margin-right: 20px;
    padding-left: 40px;
}

.name-profile{
    font-size: 30px;
    font-weight: 700;
    color: #2B438D;  
}

.role-profile{
    font-size: 16px;
    font-weight: 700;
    background-color: #2B438D;
    color: white;
    border-radius: 50px;
    padding: 5px 20px; 
}
.btn-profile{
    margin-right: 3rem;
}
.btn-cp-profile{
    background-color: #EAEAFA;
    color: #2B438D;
    border: none;
    border-radius: 10px;
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-cp-profile:hover{
    background-color: #2B438D;
    color: white;
    transition: 0.3s;
}
.img-profile{
    display: flex;
    position: relative;
    
}
.change-img-profile{
    width: 35px;
    height: 35px;
    background-color: #2B438D;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    bottom: 0px;
    left: 85px;
    cursor: pointer;
    position: absolute;
}
.log-out{
    display: flex;
    justify-content: flex-end; 
    padding: 0rem 3rem; 
    cursor: pointer;
}
.groups-ranking {
    margin-left: -2rem;
}

.ranking-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.number-space{
  margin-left: 20px;
}
.ranking-item{
  position: relative;     
  display: flex;
  align-items: center;
}
.ranking-number{
  position: absolute;
  left: 30px;           
  top: 50%;               
  transform: translateY(-50%); 
  font-size: 25px;
  font-weight: 700;
  color: #82C2F6;
}

.info-with-ranking{
  display: flex;
  flex-direction: column;
}
.points{
  font-size: 14px;
  color: #2B438D;
}
.title-list{
    font-size: 24px;
    font-weight: 700;
    color: #2B438D;
    margin-top: 0px;
    margin-bottom: 10px;
}
.square-points-2 {
    display: none;
}
.log-out-respon{
    display: none;
}
.content-modal-pf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.tit-prf-md{
    color:#C090F0 ;
}
.content-chng-pss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  align-items: flex-start; /* contenido alineado a la izquierda */
  
  max-width: 290px; /* ancho para que pueda centrarse */
  margin: 0 auto; /* centra el bloque en la pantalla */
}

.input-label-chang-pss {
  font-weight: 600;
  color: #2B438D; 
  font-size: 18px;
  margin-bottom: -0.5rem;
}

.input-field-chn-pss {
  border: 1.5px solid #2B438D;
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 0.6rem;
  width: 280px;
  font-size: 17px;
  font-weight: 300;
  color: #2B438D;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 0.8rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}
@media (max-width: 900px) {
    .container-profile{
        position: absolute;
        margin-top: -7rem;
    }
    .subcontainer-profile {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
    }
   .header-profile {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start; 
        justify-content: flex-start; 
    }
    .info-user-profile{
        display: flex;
        gap: 1rem;
        margin-right: 0px;
    }
    .groups-ranking {
        margin-left: 0px;
    }
    .tasks-summary{
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .task-num{
        font-size: 22px;
    }
    .log-out-respon{
        padding: 0rem 0rem; 
        display: block;
        margin-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    .log-out{
        display: none;
    }
    .square-points-2 p{
        margin: 0px;
    }
    .square-points{
        display: none;
    }
  .square-points-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .square-points-2 {
    display: block;
    width: 375px;
    height: 180px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 0.5rem;
    background-color: #82C2F6;
  }
  .ranking-item{
    width: 100%;
  }
  .container-profile {
    gap: 2rem;
}
    .groups-ranking{
        margin-bottom: 4rem;
    }

}