/* Contenedor principal */
.plan-review-container {
  background-color: #f8f9fa;
  min-height: 50vh;
  padding: 1rem;
}

.plan-card {
  max-width: 20rem;
}

/* Tarjeta individual */
.plan-card {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
}

.plan-title {
  color: #2B438D  ;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0 0 1rem 0;
}

.period-text {
  color: #2B438D;
  font-size: 0.95rem;
  margin: 0 0 1.5rem 0;
  font-weight: 300;
}

/* Botones de período - horizontales */
.period-buttons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.period-btn {
  padding: 0.5rem 1rem;
  border: 2px solid #e2e8f0;
  background: white;
  border-radius: 8px;
  color: #2B438D;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.period-btn:hover {
  border-color: #cbd5e0;
}

.period-btn.active {
  background: #b794f6;
  border-color: #b794f6;
  color: white;
}

/* Sección de presupuesto */
.budget-section {
  margin-bottom: 2rem;
}

.budget-label {
  display: block;
  color: #2B438D;
  font-weight: 800;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.budget-input-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.budget-input {
  flex: 1;
  max-width: 120px;
  padding: 0.75rem;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
  color: #4a5568;
  font-weight: 500;
}

.budget-input:focus {
  outline: none;
  border-color: #b794f6;
}

.budget-input:read-only {
  background-color: #f7fafc;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.25rem;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.edit-btn:hover {
  background: #f7fafc;
}

Button {
  margin-top: 0.9rem;
}


