.btns {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
  padding: 1rem 3rem;
}
.cardsGroups{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    flex-wrap: wrap; /* 👈 permite que bajen a la siguiente fila */
    justify-content: flex-start;
    margin-top: 2rem;
    gap: 50px;
}
.group-name {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
.card-group {
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 3rem;
}
.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 40px;
  border: 1px solid #82C2F6;
  border-radius: 10px;
  font-family: sans-serif;
  width: 280px;
}

.name {
  color: #2B438D;
  font-weight: 500;
}

.role {
  color: #2B438D;
  font-weight: 500;
  margin-left: auto;
}
.name, .role {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.members-list {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.number-space{
  margin-left: 20px;
}
.ranking-item{
  position: relative;     
  display: flex;
  align-items: center;
}
.ranking-number{
  position: absolute;
  left: 30px;           
  top: 50%;               
  transform: translateY(-50%); 
  font-size: 25px;
  font-weight: 700;
  color: #82C2F6;
}

.info-with-ranking{
  display: flex;
  flex-direction: column;
}
.points{
  font-size: 14px;
  color: #2B438D;
}
.responsive-card-btn-name{
  display: none;
}
.responsive-card-admi{
  display: none;
}
.responsive-card-members{
  display: none;
}
.members-res-tit{
  display: none;
}
.invite-code-cr-gp{
  font-size: 16px;
  margin: 0;
  font-weight: 300;
  color: #2B438D;
  margin-top: -1.7rem;
}
.invite-code-cr-gp{
  display: none;
}
@media (max-width: 900px) {
  .btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    position: absolute;
    right: 0.2rem; 
    margin-top: -9.5rem;
    position: absolute;
  }
  .responsive-card-btn-name{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .group-name{
    display: none;
  }
  .card-group > button:first-of-type{
    display: none;
  }
  .responsive-card-admi{
    display: block;
    align-items: center;
    gap: 15px;
  }
  .responsive-card-members{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .members-list{
    display: none;
  }
  .members-res-tit{
    display: block;
    margin: 0;
    padding-bottom: 0.1rem;
    padding-top: 0.3rem;
    color: #2B438D;
    font-weight: 500;
    font-size: 18px;
  }
  .card-group {
    gap: 15px;
    padding: 2rem;
    width: 340px;
  }
  .cardsGroups{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 30px;
    margin-bottom: 3rem;
  }
  .responsive-card-admi h3{
    margin: 0;
    color: #2B438D;
    font-size: 16px;
  }
  .rol-res{
    font-weight: 300;
    margin: 0;
    color: #2B438D;
  }
  .responsive-card-btn-name h3{
    margin: 0;
  }
  .responsive-card-admi span svg {
    width: 4rem;
    height: 4rem;
  }
  .user-card{
    width: 100%;
  }
}