html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}


.signup-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.signup-image {
  flex: 1;
  background: #fdf9f7; /* color claro */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.signup-form {
  
    flex: 1;
    background: #c8a6f5; /* morado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    color: #fff;
 
}


.signup-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}


.signup-subtitle {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.signup-subtitle a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.signup-subtitle a:hover {
  text-decoration: underline;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 320px;
}

.form-group label {
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #fff;
}

.form-group input {
  padding: 0.8rem;
  border: 1px solid #fff;   
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  background: transparent;  
  color: #fff;    
}

.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}


.terms {
  display: flex;
  align-items: flex-start;
  font-size: 0.75rem;
  max-width: 320px;
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.8);
}

.terms input {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}


.signup-btn {
  background: #fff;
  color: #c8a6f5;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  transition: background 0.3s;
}

.signup-btn:hover {
  background: #eee;
}
