.signup-form {
  overflow: hidden;
}
    .signup-image {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 38rem;
    height: 1rem;
    align-items: center;  
    margin-left:-102rem ;
    margin-top: -37rem;  
  }
  
  .signup-form {
    flex: 1;
    background: #c8a6f5; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #fff;
    margin-right: -45rem;
    padding:18rem;
    padding-top:35rem;
    margin-top:-1rem;
    gap: 1.5rem;  }
  
  .signup-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .signup-subtitle {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    margin-top: -0.5rem;
  }
  
  .signup-subtitle a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    align-items:left;
  }
  
  .signup-subtitle a:hover {
    text-decoration: underline;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 320px;
    color: #fff;
    background-color: #c8a6f5;
    margin-top: -45rem;
    align-items: left;
    margin-bottom: 1.5rem;
    gap: 0.5rem;
  }
  
  .form-group input {
    padding: 0.8rem;
    border: 1px solid #fff;   
    border-radius: 6px;
    font-size: 0.95rem;
    outline: none;
    background: transparent;
    color: #fff;    
  }
  
  .form-group input::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  
  
  .terms input {
    margin-top: 0.2rem;

  }
  
  .signup-btn {
    background: #fff;
    color: #c8a6f5;
    padding: 0.9rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    transition: background 0.3s;
    margin-right:1rem ;
  }
  
  .signup-btn:hover {
    background: #eee;
  }
  .form-group label {
    text-align: left;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
}
#terms  {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left:-18rem ;
   
}