.inputs-all {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.create-task-page{
    margin-top: 1rem;
}

.heads-up h2 {
  color: #C090F0;
  font-size: 24px;
}

.div-head p {
  font-size: 17px;
  color: #2B438D;
  font-weight: 500;
  margin: 0;
}
.div-head{
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.level {
  background-color: #f5f5f562;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.level .point {
    font-size: 16px;
    color: #2B438D;
    font-weight: 500;
    margin: 0;
}
.level .val{
    background-color: #FF935A;
    color: white;
    padding: 0.2rem 1rem;
    width: 65px;
    border-radius: 10px;
}
.level .val2{
    background-color: #DBB6FF;
    color: white;
    padding: 0.2rem 1rem;
    width: 65px;
    border-radius: 10px;
}

.level .val3{
    background-color: #82C2F6;
    color: white;
    padding: 0.2rem 1rem;
    width: 65px;
    border-radius: 10px;
}
.hed{
    display: flex;
    justify-content: flex-end; 
    padding: 0rem 3rem;  
    margin-top: -34rem; 
}
.go-bacck {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end; 
    padding: 0rem 0rem; 
}
.bttns-assingning-respon{
    display: none;
}

@media (max-width: 900px) {
    .div-head{
        box-shadow: none;
        padding: 0rem;
        display: flex;
        gap: 1rem;
        width: 100%;
    }
    .assign-taks-nl{
        display: none;
    }
    .level {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .levels-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .create-task-page{
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .hed{
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        justify-content: left;
    }
    .heads-up h2 {
        display: none;
    }
    .heads-up {
        width: 100%;
        margin-top: 1rem;
    }
    .go-bacck{
        display: none;
    }
    .bttns-assingning-respon{
        display: block;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}