.inputs-all {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.create-task-page{
    margin-top: 1rem;
}

.heads-up h2 {
  color: #C090F0;
  font-size: 24px;
}

.div-head p {
  font-size: 17px;
  color: #2B438D;
  font-weight: 500;
  margin: 0;
}
.div-head{
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.level {
  background-color: #f5f5f562;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.level .point {
    font-size: 16px;
    color: #2B438D;
    font-weight: 500;
    margin: 0;
}
.level .val{
    background-color: #FF935A;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}
.level .val2{
    background-color: #DBB6FF;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.level .val3{
    background-color: #82C2F6;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

