.inputs-all {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.create-task-page{
    margin-top: 1rem;
}

.heads-up h2 {
  color: #C090F0;
  font-size: 24px;
}

.div-head p {
  font-size: 18px;
  color: #2B438D;
  font-weight: 500;
}
.div-head{
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 300px;
    border-radius: 10px;
}

.level {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.level p:first-child {
  font-weight: bold;
}

.level:nth-child(1) {
  background-color: #f39c12;
  color: #fff;
}

.level:nth-child(2) {
  background-color: #9b59b6;
  color: #fff;
}

.level:nth-child(3) {
  background-color: #3498db;
  color: #fff;
}
