.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: white;
  padding: 1.5rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-btn {
  background: none;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.3s ease;
  background-color: #FF935A;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .modal-content {
    width: 75%;
    padding: 2rem;
  }
}