#header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
h2{
    color: #2B438D;
    font-size: 28px;
}
.user {
    cursor: pointer;
}
@media (max-width: 900px) {
    #header, h2, .user
    {
        display: none;
    }
}