#header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
h2{
    color: #2B438D;
    font-size: 28px;
}
.user {
    cursor: pointer;
}
@media (max-width: 900px) {
   .user {
    display: none;
   }
   #header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
   }
   h2{
    margin: 0;
    font-size: 28px;
   }
   #header svg {
    width: 5rem;
    height: 5rem;
   }
}