.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
  padding-left: 3rem;
  gap: 50px;
  justify-content: center;
  height: 100%;
}

.item, h3 {
    color: #2B438D;
    font-size: 17px;
    font-weight: 600;
}
.logo {
    margin-left: 0.2rem;
    cursor: pointer;
}
.items-bar{
    gap: 12px;
    display: flex;
    flex-direction: column;
}
.icon-bar{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0.3rem;
    border-radius: 0.5rem; 
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.icon-bar:hover {
  background-color: rgba(37, 99, 235, 0.1); /* azul clarito en hover */
}
.member-bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 4rem;
  border-radius: 2rem;        
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.75rem;
  transition: all 0.2s ease;
}

.icon-member {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
}
.member {
    font-weight: 500;
    font-size: 16px;
}
.members{
    margin-left: -4rem;
}
.icon-bar.active {
  background-color: rgba(37, 99, 235, 0.1);
}

.hamburger-menu {
  display: none;
}
.logo-responsive {
  display: none;
}

.user-responsive {
  display: none;
}
.icon-bar svg {
  color: #2B438D; 
}


@media (max-width: 900px) {
  .nav-bar {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
  }
  .logo {
    display: none;
  }
 .items-bar {
    display: none; 
  }

  .items-bar.open {
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    background-color: #C090F0; 
    padding: 0.5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    gap: 3px;
    z-index: 1000;
    color: white;
  }
  .icon-bar {
    width: 200px;
  }
 .item {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
  }
 .icon-bar svg {
    color: white;
}
  .icon-bar.active {
    background-color: #d2aef6;
  }
  .icon-bar:hover {
  background-color: #d2aef6; 
}

  .responsive-icons {
    display: block;
    cursor: pointer;
  }
  .user-responsive {
    display: block;
  }
  .hamburger-menu {
    display: block; 
  }
  .logo-responsive {
    display: block;
    cursor: pointer;
  }
  .avatars-bar{
    display: none;
  }
  .responsive-icons{
    display: flex;
    gap: 2rem;
  }
}
