.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
  padding-left: 3rem;
  gap: 50px;
  justify-content: center;
  height: 100%;
}

.item, h3 {
    color: #2B438D;
    font-size: 17px;
    font-weight: 600;
}
.logo {
    margin-left: 0.2rem;
    cursor: pointer;
}
.items-bar{
    gap: 12px;
    display: flex;
    flex-direction: column;
}
.icon-bar{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0.3rem;
    border-radius: 0.5rem; 
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.icon-bar:hover {
  background-color: rgba(37, 99, 235, 0.1); /* azul clarito en hover */
}
.member-bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 4rem;
  border-radius: 2rem;        
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.75rem;
  transition: all 0.2s ease;
}

.icon-member {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
}
.member {
    font-weight: 500;
    font-size: 16px;
}
.members{
    margin-left: -4rem;
}
.icon-bar.active {
  background-color: rgba(37, 99, 235, 0.1);
}
.hamburger-menu {
  display: none;
}
@media (max-width: 900px) {
  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .items-bar {
    display: none; /* Hide items initially */
  }

  .hamburger-menu {
    display: block; /* Show hamburger on small screens */
  }
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu.open + .items-bar {
  display: flex; /* Show items when menu is opened */
  flex-direction: column;
}

/* For Avatar bar */
.avatars-bar {
  display: none; /* Hide on smaller screens */
}

@media (min-width: 768px) {
  .avatars-bar {
    display: block; /* Show avatars on larger screens */
  }
}