.btn-create-task{
    display: flex;
    justify-content: flex-end; 
    padding: 1rem 3rem;   
}
.tit{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
}
.tetxt{
    display: flex;
    gap: 22px;
    align-items: center;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 1rem;
    border-radius: 8px;
}
.tetxt p {
    font-size: 16px;
    font-weight: 400;
    color: #2B438D;
}
.aditional-info h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
}
.aditional-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-item {
  background-color: #C090F0;  
  padding: 1.5rem;
  border-radius: 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  color: white;
}

.text-info {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #ffffff;
}

.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.task-details p {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.priority {
  padding: 4px 25px;
  margin: 0;
  height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: white;
  border-radius: 12px;
}

.complete-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
.complete-btn.completed {
  background-color: #82C2F6;
  color: #ffffff;
  border-color: #ffffff;
}

.task-item.completed h3 {
  text-decoration: line-through;
  color: #ffffff;
}
