.btn-create-task{
    display: flex;
    justify-content: flex-end; 
    padding: 1rem 3rem;   
}
.tit{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
}
.tetxt{
    display: flex;
    gap: 22px;
    align-items: center;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 1rem;
    border-radius: 8px;
}
.tetxt p {
    font-size: 16px;
    font-weight: 400;
    color: #2B438D;
}
.aditional-info h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
}
.aditional-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Estilos generales de TaskItem */
.task-item {
  background-color: #E8E8F7;  /* Fondo morado claro */
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.task-item:hover {
  transform: scale(1.02);
}

.task-info {
  display: flex;
  flex-direction: column;
}

.task-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.task-details p {
  margin: 3px 0;
  font-size: 14px;
  color: #555;
}

/* Prioridad de la tarea con color */
.priority {
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  border-radius: 12px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

/* Estilo del bot칩n para marcar la tarea como completada */
.complete-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #82C2F6;
  background-color: transparent;
  color: #82C2F6;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo cuando la tarea est치 marcada como completada */
.complete-btn.completed {
  background-color: #82C2F6;
  color: white;
  border-color: #82C2F6;
}

/* Cambios de color para la tarea cuando est치 completada */
.task-item.completed {
  background-color: #e0f7fa;  /* Fondo suave cuando la tarea est치 completada */
  opacity: 0.6;
}

.task-item.completed h3 {
  text-decoration: line-through;
  color: #b0bec5;
}
