.btn-create-task{
  display: flex;
  justify-content: flex-end; 
  padding: 0rem 3rem;  
  gap: 1rem; 
}
.add {
  display: flex;
  justify-content: flex-end; 
  padding: 0rem 3rem;   
  margin-top: 6rem;
}
.sub-colum-actions {
display: flex;
}
.actions-tasks-edi-elim {
display: flex;
align-items: center;
justify-content: space-between;
}
.tit{
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #2B438D;
  margin-bottom: 1.5rem;
}
.no-nada-msg {
color: #2B438D;
text-align: center;

}
.tetxt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
  width: 450px;
  padding: 1rem;
  border-radius: 8px;
}
.tetxt p {
  font-size: 16px;
  font-weight: 400;
  color: #2B438D;
}
.aditional-info h3{
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #2B438D;
}
.aditional-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -9.5rem;
}

.task-item {
background-color: #C090F0;  
padding: 1.2rem;
border-radius: 10px;
width: 450px;
display: flex;
flex-direction: column;
color: white;
}

.text-info {
display: flex;
align-items: center;
justify-content: space-between;
color: #ffffff;
width: 78%;
}

.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-item h3 {
margin: 0;
font-size: 18px;
font-weight: 600;
color: #ffffff;
}

.text-info p {
font-size: 15px;
color: #ffffff;
margin: 0;
padding: 0;
}

.priority {
padding: 4px 25px;
padding-left: 10px;
margin: 0;
height: 18px;
display: inline-block;  
text-align: left; 
font-size: 14px;
color: white;
border-radius: 12px;
width: 50px;
}

.complete-btn {
width: 40px;
height: 40px;
border-radius: 50%;
border: 2px solid #ffffff;
background-color: transparent;
font-size: 18px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 0.3s, color 0.3s;
}
.complete-btn.completed {
background-color: #82C2F6;
color: #ffffff;
border-color: #ffffff;
}

.task-item.completed h3 {
text-decoration: line-through;
color: #ffffff;
}
.tasks-list {
display: flex;
gap: 8.5rem; 
}

.tasks-column {
display: flex;
flex-direction: column;
gap: 1rem; 
}
.tit-additional{
font-size: 24px;
margin: 0;
margin-bottom: 25px;
padding-left: 3.5rem;
}
.accept-btn {
border: none;
border-radius: 8px; 
color: #82C2F6;
background-color: white;
font-weight: 600;
height: 38px;
width: 90px;
padding: 8px 8px;
font-size: 16px;
cursor: pointer;
transition: filter 0.2s ease;
}

.accept-btn:hover {
filter: brightness(0.9);
}
.content{
display: flex;
flex-direction: column;
width: 100%;
}
.additional-tasks-list {
display: flex;
flex-direction: column;
align-items: center;
}
.respon-tit-tasks{
display: none;
}
.square-points-res-tsks {
display: none;
}
.tasks-content-respon {
display: none;
}
.btn-create-task-respon{
display: none;
}
.btn-created-task-respon{
display: none;
}
@media (max-width: 900px) {
.aditional-info{
  display: none;
}
.tit{
  display: none;
}
.btn-create-task{
  display: none;
}
.respon-tit-tasks{
  display: block;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  width: 400px;
}
.text-info {
  width: 85%;
}
.text-info p {
  font-size: 14px;
}
.tit-res-ts {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent; 
  transition: border-color 0.3s ease;
}

.tit-res-ts.active {
  border-bottom: 2px solid #B5A9FF; 
}
.square-points-res-tsks p{
  margin: 0px;
}
.square-points-res-tsks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.square-points-res-tsks {
  display: block;
  width: 100%;
  margin-top: 2rem;
  height: 180px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #82C2F6;
}

.tasks-list {
  flex-direction: column;
  gap: 1rem;
}

.tasks-column {
  width: 370px;
  gap: 1rem;
}
.task-item {
  width: 100%;
}
.tasks-content-respon {
  display: block;
}
.all-tasks{
  display: none;
}

.btn-create-task-respon {
  display: block;
  position: fixed;
  bottom: 2rem; 
  right: 2rem; 
  width: 60px;
  height: 60px;
  background-color: #82C2F6; 
  color: white; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-create-task-respon:hover {
  background-color: #4CABF8;
  transform: scale(1.1);
}
.btn-created-task-respon {
  display: block;
  position: fixed;
  right: 2rem; 
  bottom: 7rem;
  width: 60px;
  height: 60px;
  background-color: #82C2F6; 
  color: white; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-created-task-respon:hover {
  background-color: #4CABF8;
  transform: scale(1.1);
}
}