.btn-create-task{
    display: flex;
    justify-content: flex-end; 
    padding: 0rem 3rem;   
}
.add {
    display: flex;
    justify-content: flex-end; 
    padding: 0rem 3rem;   

}

.tit{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
    margin-bottom: 1.5rem;
}
.tetxt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    width: 450px;
    padding: 1rem;
    border-radius: 8px;
}
.tetxt p {
    font-size: 16px;
    font-weight: 400;
    color: #2B438D;
}
.aditional-info h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
}
.aditional-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -9.5rem;
}

.task-item {
  background-color: #C090F0;  
  padding: 1.2rem;
  border-radius: 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  color: white;
}

.text-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  width: 70%;
}

.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.text-info p {
  font-size: 15px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.priority {
  padding: 4px 25px;
  padding-left: 10px;
  margin: 0;
  height: 18px;
  display: inline-block;  
  text-align: left; 
  font-size: 14px;
  color: white;
  border-radius: 12px;
  width: 50px;
}

.complete-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
.complete-btn.completed {
  background-color: #82C2F6;
  color: #ffffff;
  border-color: #ffffff;
}

.task-item.completed h3 {
  text-decoration: line-through;
  color: #ffffff;
}
.tasks-list {
  display: flex;
  gap: 8.5rem; 
}

.tasks-column {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}
.tit-additional{
  font-size: 22px;
}
.accept-btn {
  border: none;
  border-radius: 8px; 
  color: #82C2F6;
  background-color: white;
  font-weight: 600;
  height: 35px;
  width: 90px;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.accept-btn:hover {
  filter: brightness(0.9);
}
