.btn-create-task{
    display: flex;
    justify-content: flex-end; 
    padding: 1rem 3rem;   
}
.tit{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
}
.tetxt{
    display: flex;
    gap: 22px;
    align-items: center;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 1rem;
    border-radius: 8px;
}
.tetxt p {
    font-size: 16px;
    font-weight: 400;
    color: #2B438D;
}
.aditional-info h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #2B438D;
}
.aditional-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-item {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
}

.task-item h3 {
  margin: 0;
  font-size: 18px;
}

.task-item p {
  margin: 5px 0;
}