#root {
  display: flex;
  height: 100vh; /* que ocupe toda la pantalla */
}

/* Barra lateral */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
}

/* Pantallas */
.screens {
  margin-left: 20%;
  width: 80%;
}
