#root {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  overflow-x: hidden;
}

/* Barra lateral */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.headerUp {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-left: 20%; 
  padding: 4rem 3rem;
  height: 10%;
  width: calc(100% - 20%); 
  box-sizing: border-box;
}

/* Pantallas */
.screens {
  margin-left: 20%; 
  padding-left: 3rem;
  flex: 1;
  width: calc(100% - 20%); 
  box-sizing: border-box;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .navBar {
    background-color: #C090F0;
    width: 100%;
    height: 3rem;
    z-index: 999;
  }
  .screens {
    margin-left: 0; 
    width: 100%;
  }
  .headerUp{
    margin-left: 0;
    margin-top: 4.5rem;
  }
}